@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

html {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

.container {
  margin: 20px auto;
  text-align: center;
}

.board-container {
  margin: 20px auto;
  width: 300px;
  height: 300px;
}

.square {
  height: 91px;
  width: 91px;
  float: left;
  border: 3px solid black;
  font-size: 48px;
  line-height: 98px;
}

.status {
  height: 45px;
  display: block;
  font-size: 1.5em;
}

button {
  padding: 20px;
}
